@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.header {
  background: rgb(4, 146, 154);
  background: linear-gradient(
    90deg,
    rgb(24, 24, 24) 0%,
    rgb(39, 39, 39) 50%,
    rgb(24, 24, 24) 100%
  );
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 10px #27272756;
  -webkit-box-shadow: 0px 2px 10px #27272756;
  -moz-box-shadow: 0px 2px 10px #27272756;
}

.header h1 {
  font-family: "Roboto", sans-serif;
  letter-spacing: 5px;
  font-weight: lighter;
  color: white;
  margin: 5px;
}
